.heading {
    margin-bottom: 5px;
    font-family: 'Open Sans', sans-serif;
}
.title {
    font-weight: 500;
    margin-top: 0;
    font-family: 'Open Sans', sans-serif;
}
.header {
    text-align: center;
    
}