mat-sidenav-container {
    height: calc(100vh - 90px);
    
}
mat-sidenav {
    margin: 16px;
    border-right: none;
    border-radius: 10px;
    padding: 16px;
    
}
.mat-list-item{
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}
.activeLink {
    font-weight: bold;
}

